{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "proseWrap": "always",
  "semi": true,
  "bracketSpacing": true
}
